# Binaries
bin/
krato

# Databases & Disks
*.db
*.wal

# Logs
*.log

# Docker
.DS_Store

# Go
vendor/

# Protobuf Tooling
.protoc/
protoc.zip

.env

# Exclude specifically large generated HTML files but keep index.html
krato-implementation-plan.html

java-port/
